.c-clearable-input {
    background: $wh-hill;
    position: relative;
}

.c-clearable-input__field {
    border: 0;
    display: block;
    height: $inuit-base-spacing-unit * 2;
    width: 100%;
}

.c-clearable-input__cross {
    display: none;
    position: absolute;
    line-height: 0;
    right: $inuit-base-spacing-unit--tiny;
    top: 50%;
    transform: translateY(-50%);

    .c-clearable-input--enabled & {
        display: block;
    }
}

.c-clearable-input__btn {
    background: none;
    border: 0;
    padding: 0;
    width: 1.5em;
}

.c-clearable-input--invalid {
    box-shadow: 0 0 40px $negative;
    outline: 1px solid $negative;

    > .c-clearable-input__input,
    > .c-clearable-input__input::placeholder {
        color: $negative;
    }
}
