$canvas: #CBD5D9;
$masthead__text: #263238;
$negative: #e53935;
$negative__text: #fff;
$positive: #13ba85;
$positive__text: #fff;
$warning: #ffee58;
$warning__text: #fff;
$opaque-dark: rgba(0, 0, 0, .2);
$pane: #ECEFF1;
$pane__highlighted: #248cb3;
$pane__infix-darker: #ccc;
$pane__outset: #cbd5d9;
$pane__text: #444;
$pane_dark: #dce3e6;
$wh-blue-alpha: #184b74;
$wh-blue-alpha__text: #fff;
$wh-blue-darkest__text: #808e99;
$wh-dark-blue: #012942;
$wh-faded-blue: #546e7a;
$wh-hill: #fff;
$loading-icon-blade: #00b2ff;
