html,
body {
    font-family: $base-font-family;
    font-size: $inuit-base-font-size;
    font-smoothing: antialiased;
    user-select: none;
}

.small {
    font-size: $inuit-base-font-size/1.25;
}
