@charset 'UTF-8';

// SETTINGS
@import '_______settings/colours';
@import '_______settings/fonts';

// OVERRIDES
$inuit-base-background-color: $canvas;
$inuit-base-text-color: $pane__text;
$inuit-btn-border-width: 0;
$inuit-enable-box--small: true;
$inuit-enable-box--tiny: true;
$inuit-enable-box--large: true;
$inuit-enable-btn--full: true;
$inuit-enable-btn--small: true;
$inuit-enable-layout--large: true;
$inuit-enable-layout--middle: true;
$inuit-enable-layout--small: true;
$inuit-enable-margins--small: true;
$inuit-enable-margins--tiny: true;
$inuit-enable-margins: true;
$inuit-enable-pack--auto: true;
$inuit-enable-pack--large: true;
$inuit-enable-pack--middle: true;
$inuit-enable-pack--small: true;
$inuit-enable-pack--tiny: true;
$inuit-enable-paddings--none: true;
$inuit-enable-table--cosy: true;
$inuit-enable-table--rows: true;
$inuit-namespace: 'inuit-';
$inuit-use-fractions: false;
$z-indexes: c-loading-notification;
@import '../../node_modules/csslib/_______settings/all';

// TOOLS
@import '../../node_modules/csslib/______tools/all';

// GENERIC
@import '../../node_modules/csslib/_____generic/normalize';
@import '../../node_modules/csslib/_____generic/reset';
@import '../../node_modules/csslib/_____generic/border-box';
@import '../../node_modules/csslib/_____generic/consistent-margins';

// BASE
@import '../../node_modules/csslib/____base/page';
@import '../../node_modules/csslib/____base/headings';
// @import '../../node_modules/csslib/____base/lists';
// @import '../../node_modules/csslib/____base/fluid-images';
// @import '../../node_modules/csslib/____base/lede';
@import '____base/focus';
@import '____base/forms';
@import '____base/headings';
@import '____base/links';
@import '____base/page';
@import '____base/scrollbars';
@import '____base/tables';


// TODO Not sure how to deal with this, so just adding here
// for now so it gets picked up and dealt with properly
.inuit-pack__item--top {
  vertical-align: top;
}

// TRUMPS
@import '../../node_modules/csslib/_trumps/clearfix';

// OBJECTS
// @import '../../node_modules/csslib/___objects/block';
@import '../../node_modules/csslib/___objects/box';
@import '../../node_modules/csslib/___objects/buttons';
// @import '../../node_modules/csslib/___objects/flag';
@import '../../node_modules/csslib/___objects/layout';
// @import '../../node_modules/csslib/___objects/list-bare';
// @import '../../node_modules/csslib/___objects/list-block';
// @import '../../node_modules/csslib/___objects/list-inline';
// @import '../../node_modules/csslib/___objects/list-ui';
// @import '../../node_modules/csslib/___objects/media';
@import '../../node_modules/csslib/___objects/pack';
@import '../../node_modules/csslib/___objects/tables';
// @import '../../node_modules/csslib/___objects/tabs';

// COMPONENTS
@import '__components/btn-alpha';
@import '__components/btn-beta';
@import '__components/btn-link';
@import '__components/btn-negative';
@import '__components/btn-positive';
@import '__components/clearable-input';
@import '__components/error-notification';
@import '__components/icon';
@import '__components/loading-notification';
@import '__components/main';
@import '__components/header';
@import '__components/empty-view';

// TRUMPS
// @import '../../node_modules/csslib/_trumps/clearfix';
@import '../../node_modules/csslib/_trumps/spacing';
// @import '../../node_modules/csslib/_trumps/spacing-responsive';
@import '../../node_modules/csslib/_trumps/widths';
@import '../../node_modules/csslib/_trumps/widths-responsive';
@import '_trumps/alignment';
@import '_trumps/cursors';
@import '_trumps/is-disabled';
@import '_trumps/type';
@import '_trumps/whitespace';
